/* ==== LOADER ==== */
.load-more.hidden,
.loader.hidden {
  display: none;
}

.loader {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: calc(100% + 16px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  color: #808080;
  background: currentColor;
  box-shadow: 32px 0, -32px 0, 64px 0;
}

.loader::after {
  content: '';
  position: absolute;
  left: -32px;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #4e75ff;
  animation: move 3s linear infinite alternate;
}

@keyframes move {
  0%,
  5% {
    left: -32px;
    width: 16px;
  }
  15%,
  20% {
    left: -32px;
    width: 48px;
  }
  30%,
  35% {
    left: 0px;
    width: 16px;
  }
  45%,
  50% {
    left: 0px;
    width: 48px;
  }
  60%,
  65% {
    left: 32px;
    width: 16px;
  }

  75%,
  80% {
    left: 32px;
    width: 48px;
  }
  95%,
  100% {
    left: 64px;
    width: 16px;
  }
}

/* ==== FORM ==== */
.form {
  position: relative;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin: 36px auto 32px;
  padding: 0 16px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .form-wrapper {
    flex-direction: row;
  }
}

.form-wrapper input {
  width: 100%;
  max-width: 280px;
  height: 40px;
  padding-left: 16px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  transition: border-color 0.3s ease;
  outline: none;
}

.form-wrapper input:hover {
  border-color: #000000;
}

.form-wrapper input:focus {
  border-color: #4e75ff;
}

.btn {
  width: 150px;
  height: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: #4e75ff;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #6c8cff;
}

.btn:disabled {
  color: #989898;
  background-color: #cfcfcf;
  cursor: not-allowed;
}

.load-more {
  display: block;
  margin: 32px auto 44px;
}

/* ==== GALLERY ==== */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}

.gallery-item {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border: 1px solid #808080;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .gallery-item {
    flex: 0 1 calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .gallery {
    padding: 24px 156px;
    gap: 24px;
  }

  .gallery-item {
    flex: 0 1 calc((100% - 48px) / 3);
  }
}

.gallery-item:hover {
  transform: scale(1.03);
  border-color: #000000;
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  cursor: zoom-in;
}

/* ==== INFO PANEL ==== */
.info {
  position: absolute;
  width: 100%;
  height: 48px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  background-color: #f4f4f4;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}

.info-item h4 {
  font-size: 16px;
  margin: 0;
}

.info-item .icon {
  fill: #808080;
  width: 18px;
  height: 18px;
}

/* ==== LIGHTBOX ==== */
.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}

.sl-caption {
  letter-spacing: 0.2em;
  font-size: 14px;
  color: #fff;
}
